.todoList {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 0;
  list-style: none;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
  }
}
